py-cpuinfo
calflops
cmapy
Cython
deepspeed==0.15.2
easydict
einops
gdown
h5py
icc_rt
jupyter
kiui
matplotlib
multimethod
ninja
numba
opencv-python
packaging
pandas
pickleshare
pillow
plyfile
prefetch_generator
protobuf
pyvista
pyyaml
seaborn
scipy
scikit-build
scikit_image
scikit-learn
shortuuid
taichi
termcolor
tensorboard==2.12.0
tensorboardX
thop
transforms3d
timm==1.0.9
tqdm
vtk
wandb
